@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  width: 100%;
  min-width: 375px;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Nunito', 'Noto Sans TC', robot, Inter, system-ui, sans-serif;

  line-height: 1.5;
  font-size: 14px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  ::-webkit-scrollbar {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

img {
  user-select: none;
}

/* 當用戶偏好深色主題時 */
@media (prefers-color-scheme: dark) {
  :root {
    color: #000;
    background-color: #FFFFFF;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000;
    background-color: #FFFFFF;
  }
}

@media screen and (max-width: 1200px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 12px;
  }
}

.particle-pwe-btn {
  display: none;
}
